body {
    font-family: sans-serif;
    background-color: #fff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  

  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 10px;
  }